@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700");

a {
    color: ivory;
}

body {
    background-color: navy;
    color: ivory;
}

.title1, .title2 {
    /* color: deeppink; */
    color: gold;
}
