@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

a {
    color: #111111;
    text-decoration: underline;
}

body {
    background-color: #ffffff;
    color: #111111;
    font-family: "Roboto Mono", monospace;
}

.h1 {
    color: deeppink;
    font-weight: 700;
    text-transform: uppercase;
}
