@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700");

a {
    color: #111111;
    text-decoration: underline;
}

body {
    background-color: #ffffff;
    color: #111111;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

.title1 {
    color: deeppink;
    font-weight: 700;
    text-transform: uppercase;
}

.title2 {
    color: deeppink;
    font-weight: 700;
}

.title3 {
    color: #111111;
    font-weight: 700;
    text-transform: uppercase;
}

.title4 {
    color: #111111;
    font-weight: 700;
}

.toc {
    top: 0;
    left: 0;
    overflow: auto;
}